<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakımızda Girişi
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class=" modal-header">
                <h2 class="modal-title">Hakkımızda Metin Girişi </h2>
            </div>
            <form action="method=" post">
                <div class="modal-body">
                    <label>Hakımda Metin 1</label>
                    <input type="text" name="#" class="form-control" />
                    <br />
                    <label>Hakımda Metin 2</label>
                    <input type="text" name="#" class="form-control" />
                    <br />
                    <label>Hakımda Görsel 1</label>
                    <input type="text" name="#" class="form-control" />
                    <br />
                    <label>Hakımda Görsel 2</label>
                    <input type="text" name="#" class="form-control" />
                    <br />
                    <button class="btn btn-info">
                        Kaydet
                        
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>
